<!DOCTYPE html>
<html>
    <head>
        <title>
            Perrito
        </title>
        
    </head>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div> 
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <button class="btn btn-lg me-2" style="background-color: #4caf50; color: white;" onclick="location.href='/inicio'">Inicio</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-lg me-2" style="background-color: #2196f3; color: white;" onclick="location.href='/fin'">Fin</button>

            </li>

            <li class="nav-item">
                <button class="btn btn-lg me-2" style="background-color: #FF9800; color: white;" onclick="location.href='/tabla'">Tabla</button>
            </li>

            <li class="nav-item">
                <button class="btn btn-lg me-2" style="background-color: #9C27B0; color: white;" onclick="location.href='/tabla/1'">Tabla Número</button>
            </li>
        </ul>
        </div>
    </nav>
{% block content %}  {% endblock %}
    <body>
    </body>
</html>

<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.0/mdb.min.css" rel="stylesheet" >

<!-- MDBootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.0/mdb.min.js"></script>



<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">